* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #f7f7f7;
}
.container {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 20%;
    min-width: 350px;
    height: 90%;
}
.balance {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    margin-top: 50px;
    width: 100%;
}
.balance-p {
    margin-top: 20px;
    font-size: 32px;
    color: #000;
}
.balance-desc {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    height: 100px;
    background: #fff;
    box-shadow: 0 0 5px #aeaeae;
}
.income,
.expense {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 48%;
    height: 100%;
}
.income-money {
    margin-top: 3px;
    font-size: 20px;
    color: #2ecc71;
}
.expense-money {
    font-size: 20px;
    color: #c0392b;
}
.line {
    width: 1px;
    height: 80%;
    background: #aeaeae;
}
.history,
.add-transaction {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    margin-top: 30px;
    width: 100%;
}
.x-line {
    margin-top: 5px;
    width: 100%;
    height: 1px;
    background: #aeaeae;
}
.main {

}
li {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
    padding: 20px;
    width: 100%;
    height: 40px;
    background: #fff;
    border: 1px solid #aeaeae;
    border-radius: 5px;
    box-shadow: 0 0 5px #aeaeae;
}
.plus {
    border-right: 5px solid #2ecc71;
}
.less {
    border-right: 5px solid #c0392b;
}
.delete-button {
    position: absolute;
    top: 50%;
    left: 0;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border: 0;
    color: #fff;
    background: #e74c3c;
    cursor: pointer;
    transform: translate(-100%, -50%);
    opacity: 0;
}
li:hover .delete-button {
    opacity: 1;
}
.add-transaction p {
    margin-top: 20px;
}
.add-transaction input {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    font-size: 18px;
}
.add-transaction button {
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    border: 0;
    background: #9c88ff;
    color: #fff;
    cursor: pointer;
}